---
import {FaLongArrowAltLeft} from "react-icons/fa";
import { HiArrowTurnUpLeft } from "react-icons/hi2"
import {useTranslations} from "../i18n/utils";
import {languageList} from "../i18n/ui";
const { src, alt } = Astro.props
const currentLang = Astro.currentLocale || "es"
const t = useTranslations(currentLang as keyof typeof languageList)
---
<div class="container">
    <img src={src} alt={alt}/>
    <div class="arrow-text">
        <HiArrowTurnUpLeft size={25} color="#3A4852"/>
        <span>{t('itsMe')} 👀</span>
    </div>
</div>

<style>
    .container{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .arrow-text{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    img{
        border-radius: 100%;
        height: 8rem;
        width: 8rem;
    }
    span{
        color: #3A4852;
        font-weight: bold;
    }
</style>