---
import ProjectTextComponent from "./ProjectTextComponent.astro";
import ProjectImageComponent from "./ProjectImageComponent.astro";

const {projectsProps} = Astro.props
---

<div class="project-container">
    {
        projectsProps.imgPosition === "left" ?
            (
                <ProjectImageComponent projectImageProps={projectsProps.projectImage} />
                <ProjectTextComponent projectTextProps={projectsProps.projectText} positionShape={projectsProps.imgPosition} />
            ) :
            (
                <ProjectTextComponent projectTextProps={projectsProps.projectText}/>
                <ProjectImageComponent projectImageProps={projectsProps.projectImage} positionShape={projectsProps.imgPosition}/>
            )
    }
</div>

<style>
    .project-container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        min-height: 460px;
        height: 500px;
        z-index: 1;
        margin-bottom: 1.5rem;

        @media (max-width: 780px) {
            flex-direction: column;
            height: auto;
            margin-bottom: 2rem;
        }
    }
</style>